@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$verde:#00c47f;
$azul:#00A5C4;
$rojo:#EC1F49;
$naranja:#FF8921;
$gris1: #eeeeee;



// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $verde;
$link: $pink;
$widescreen-enabled: true;
$fullhd-enabled: true;
$warning:$naranja;
$danger:$rojo;
$info:$azul;


// Update some of Bulma's component variables
$body-background-color:$gris1;
$control-border-width: 2px;
$input-shadow: none;
$input-border-color:$primary;
$input-background-color:$gris1;

// Import only what you need from Bulma
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/components/_all.sass";
@import "../../node_modules/bulma/sass/elements/_all.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/form/_all.sass";
@import "../../node_modules/bulma/sass/grid/_all.sass";
@import "../../node_modules/bulma/sass/helpers/_all.sass";
@import "../../node_modules/bulma/sass/layout/_all.sass";
@import "../../node_modules/bulma/sass/utilities/_all.sass";